@{
    ViewData["Title"] = "About us";
}

    <div id="wrapper" style="background-color: #F4F4F4">
        <div class="container-fluid tabcontent">
            <div class="about-privacy">
                <h1>About HotelBooking™</h1>
                <p>
                    Founded in 2019 in Athens, HotelBooking has grown from a small Greek startup to one of the world’s leading digital travel companies. HotelBooking’s mission is to <b>make it easier for everyone to experience the world</b>.
                </p>
                <p>
                    By investing in the technology that helps take the friction out of travel, Booking.com seamlessly connects millions of travellers with memorable experiences, a range of transport options and incredible places to stay - from homes to hotels and much more. As one of the world’s largest travel marketplaces for both established brands and entrepreneurs of all sizes, Booking.com enables properties all over the world to reach a global audience and grow their businesses.
                </p>
                <p>
                    HotelBooking.com is available in 43 languages and offers more than 28 million total reported accommodation listings, including over 6.2 million listings alone of homes, apartments and other unique places to stay. No matter where you want to go or what you want to do, HotelBooking makes it easy and backs it all up with 24/7 customer support.
                </p>
            </div>
        </div>
    </div>
